body {
    font-size: 1.25rem;
    font-family: helvetica;
}

.bold {
    font-weight: bold;
}

#cobalt {
    color: #1d6cff;
}

body {
    /* I'm going to try and put in the webOS wallpaper */

    background-image: url(./wallpaper.gif); 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
