body {
    text-align: center;
    font-size: 1.5rem;
    font-family: helvetica;
}

.bold {
    font-weight: bold;
}

#cobalt {
    color: #1d6cff;
}

#particles.js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}